.AContainer {
    padding: 4rem 0;
    margin: 5rem 0;

    .portfolio {
        margin: 3rem 0;
        padding: 1rem 0;
        display: flex;
        align-items: center;

        .skillBox {
            display: flex;
            justify-content: center;
            flex: 1;

            .skillWheel {
                border: 2px solid #ffffff;
                margin: 3.5rem;
                padding: 4rem 2rem;

                .toggleSkill {
                    display: flex;
                    justify-content: center;

                    @mixin skillBtn-border-drawing($color: #fefefa,
                        $hover: black,
                        $width: 2em,
                        $vertical: top,
                        $horizontal: left,
                        $duration: 0.25s) {
                        box-shadow: inset 0 0 0 $width $color;
                        color: $color;
                        transition: color $duration cal($duration / 3);
                        position: relative;

                        &::before,
                        &::after {
                            border: 0 solid transparent;
                            box-sizing: border-box;
                            content: "";
                            pointer-events: none;
                            position: absolute;
                            width: 0;
                            height: 0;

                            #{$vertical}: 0;
                            #{$horizontal}: 0;
                        }

                        &::before {
                            $h-side: if($horizontal =="left", "right", "left");

                            border-#{$vertical}-width: $width;
                            border-#{$h-side}-width: $width;
                        }

                        &::after {
                            $v-side: if($vertical =="top", "bottom", "top");

                            border-#{$v-side}-width: $width;
                            border-#{$horizontal}-width: $width;
                        }

                        &:hover {
                            color: $hover;

                            &::before,
                            &::after {
                                border-color: $hover;
                                transition:
                                    border-color 0s,
                                    width $duration,
                                    height $duration;
                                width: 100%;
                                height: 100%;
                            }

                            &::before {
                                transition-delay: 0s, 0s, $duration;
                            }

                            &::after {
                                transition-delay: 0s, $duration, 0s;
                            }
                        }
                    }

                    .draw-border {
                        @include skillBtn-border-drawing(#b5b5b5,
                            #fa8072,
                            4px,
                            bottom,
                            right);
                    }

                    //=== Button styling, semi-ignore
                    .skillBtn {
                        background: none;
                        border: none;
                        cursor: pointer;
                        line-height: 1.5;
                        padding: 1rem 2rem;
                        letter-spacing: 0.05rem;
                        margin: 1.5rem;
                        font-size: 1.1rem;
                        width: 10rem;

                        &:focus {
                            outline: 2px dotted #fa8072;
                        }
                    }
                }

                .skillDisplay {
                    display: flex;
                    height: 7rem;
                    font-size: 1.4rem;
                    padding: 2rem;
                    justify-content: center;

                    .initialQuote {
                        width: 80%;

                        h3 {
                            margin: 0 1rem;
                            padding: 0 0.7em;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .aboutBox {
            margin: 3rem 0;
            padding: 0.4rem 3rem;
            flex: 1;
            border-radius: 30px;
            width: 50%;
            box-shadow:
                rgba(250, 128, 114, 0.4) 0 0 0 2px,
                rgba(250, 128, 114, 0.4) -5px 5px,
                rgba(250, 128, 114, 0.3) -10px 10px,
                rgba(250, 128, 114, 0.2) -15px 15px,
                rgba(250, 128, 114, 0.1) -20px 20px,
                rgba(250, 128, 114, 0.05) -25px 25px;

            .aboutMe {
                font-size: 1.5rem;

                .about {
                    margin: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .AContainer {
        padding: 1rem 0;
        margin: 1rem 0;

        .portfolio {
            flex-direction: column;

            .skillBox {
                .skillWheel {

                    .toggleSkill {
                        flex-direction: column;
                        font-size: 0;
                        margin: 1rem;
                        align-items: center;

                        .skillBtn {
                            padding: 1rem .5rem;
                            margin: .75rem;
                        }

                    }

                }
            }

            .aboutBox {
                .aboutMe {
                    font-size: 1.2rem;
                }
            }

        }
    }


    .skillDisplay {
        margin: 2rem 0 3rem;

        .skillNames {
            img {
                width: 65px;
                height: 65px;
                margin: .2rem;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .AContainer {
        .portfolio {
            flex-direction: column;
        }
    }
}
