.AContainer {
	.portfolio {
		display: flex;
		.skillBox {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 3em 1em;
			padding: 1em;
			.bgBox1 {
				position: absolute;
				width: 43rem;
				height: 30rem;
				border-radius: 2em;
				transform: rotate(5deg);
				background-color: #343434;
			}
			.bgBox2 {
				position: absolute;
				width: 43rem;
				height: 30rem;
				opacity: 0.8;
				border-radius: 2em;
				background-color: #fa8072;
			}
			.skillWheel {
				z-index: 5;
				.toggleSkill {
					display: flex;
					justify-content: center;
					margin-bottom: 1em;
					@mixin skillBtn-border-drawing(
						$color: #fefefa,
						$hover: black,
						$width: 2em,
						$vertical: top,
						$horizontal: left,
						$duration: 0.25s
					) {
						box-shadow: inset 0 0 0 $width $color;
						color: $color;
						transition: color $duration cal($duration/3);
						position: relative;

						&::before,
						&::after {
							border: 0 solid transparent;
							box-sizing: border-box;
							content: "";
							pointer-events: none;
							position: absolute;
							width: 0;
							height: 0;

							#{$vertical}: 0;
							#{$horizontal}: 0;
						}

						&::before {
							$h-side: if($horizontal == "left", "right", "left");

							border-#{$vertical}-width: $width;
							border-#{$h-side}-width: $width;
						}

						&::after {
							$v-side: if($vertical == "top", "bottom", "top");

							border-#{$v-side}-width: $width;
							border-#{$horizontal}-width: $width;
						}

						&:hover {
							color: $hover;

							&::before,
							&::after {
								border-color: $hover;
								transition: border-color 0s, width $duration, height $duration;
								width: 100%;
								height: 100%;
							}

							&::before {
								transition-delay: 0s, 0s, $duration;
							}

							&::after {
								transition-delay: 0s, $duration, 0s;
							}
						}
					}

					.draw-border {
						@include skillBtn-border-drawing(
							#92140c,
							#faf0be,
							4px,
							bottom,
							right
						);
					}

					//=== Button styling, semi-ignore
					.skillBtn {
						background: none;
						border: none;
						cursor: pointer;
						line-height: 1.5;
						padding: 1em 2em;
						letter-spacing: 0.05rem;
						margin: 0.5em;
						font-size: 1.1em;
						width: 9em;
						&:focus {
							outline: 2px dotted #fa8072;
						}
					}
				}
				.skillDisplay {
					display: flex;
					height: 7em;
					font-size: 1.5em;
					padding: 1.2em;
					justify-content: center;
					align-items: center;
					.initialQuote {
						h3 {
							margin: 0 2em;
							padding: 0 1em;
							text-align: center;
						}
					}
				}
			}
		}

		.aboutBox {
			flex: 1;
			z-index: 5;
			margin: 0 0.7rem;
			padding: 0.4em 0.7rem;
			.aboutMe {
				font-size: 1.5em;
				.aboutTitle {
					margin: 0;
					text-align: center;
				}
				.about {
					margin: 0.5em;
				}
			}
		}
	}
	@media screen and (max-width: 480px) {
		.portfolio {
			flex-direction: column-reverse;
			.skillBox {
				.bgBox1 {
					width: 23rem;
					height: 17rem;
				}
				.bgBox2 {
					width: 23rem;
					height: 17rem;
				}
				.skillWheel {
					.toggleSkill {
						margin-bottom: 0.2em;
						.skillBtn {
							font-size: 0.75em;
						}
					}
					.skillDisplay {
						padding: 0.2em;
						.initialQuote {
							font-size: 0.6em;
						}
						.skillNames {
							img {
								width: 72px;
								height: 72px;
							}
						}
					}
				}
			}
			.aboutBox {
				margin: 0 0.4rem;
				padding: 0.4em 0.3rem;
				.aboutMe {
					font-size: 1.2em;
				}
			}
		}
	}

	@media screen and (min-width: 481px) and (max-width: 800px) {
		.portfolio {
			flex-direction: column-reverse;
			.skillBox {
				.bgBox1 {
					width: 45rem;
					height: 23rem;
				}
				.bgBox2 {
					width: 45rem;
					height: 23rem;
				}
				.skillWheel {
					.toggleSkill {
						.skillBtn {
							font-size: 0.5em;
						}
					}
					.skillDisplay {
						.initialQuote {
							font-size: 1em;
						}
					}
				}
			}
			.aboutBox {
				.aboutMe {
					font-size: 1.5em;
				}
			}
		}
	}
	@media screen and (min-width: 801px) and (max-width: 1380px) {
		.portfolio {
			flex-direction: column-reverse;
			.skillBox {
				.bgBox1 {
					width: 50rem;
					height: 23rem;
				}
				.bgBox2 {
					width: 50rem;
					height: 23rem;
				}
				.skillWheel {
					.toggleSkill {
						.skillBtn {
							font-size: 0.8em;
						}
					}
					.skillDisplay {
						.initialQuote {
							font-size: 0.9em;
						}
					}
				}
			}
			.aboutBox {
				.aboutMe {
					font-size: 1.5em;
				}
			}
		}
	}
}
