.CContainer {
    display: flex;
    justify-content: center;

    .contacts {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 90%;
    }
}
