.CContainer {
    margin: 1.5rem 0 3rem;

    .contacts {
        display: flex;
        justify-content: space-between;
        width: 90%;

        .cfield {
            margin: 1rem 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        flex-direction: column;
    }
}
