div.IContainer {
    padding: 7rem 2rem;
    margin: 2rem 0 10rem;

    .titleBox {
        width: 100%;
        margin: 0 0 3em;

        .tag {
            font-size: 3rem;
            text-align: center;
            animation: blink 4s infinite;

            @keyframes blink {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            justify-items: center;
        }
    }

    .introBox {
        .i-left {
            font-size: 2.7em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .intro {
                .greet {
                    padding: 0;
                    margin: 0;
                }

                .greetDesc {
                    .colorTitle {
                        color: #fa8072;
                    }

                    padding: 0;
                    margin: 0;
                }
            }

            .webLink {
                font-weight: 700;

                .Button {
                    text-decoration: none;
                    border-radius: 10px;
                    background: transparent;
                    box-shadow: inset 0 0 0 0 #92140c;
                    color: #92140c;
                    margin: 0 1em;
                    padding: 0.1em;
                    transition:
                        color 0.2s ease-in-out,
                        box-shadow 0.4s ease-in-out;

                    &:hover {
                        color: #f3eed9;
                        box-shadow: inset 4em 0 0 0 #92140c;
                    }
                }
            }

            /* For Mobile */
        }
    }
}

@media screen and (max-width: 768px) {
    div.IContainer {
        margin: 2rem 1rem;
        padding: 1rem 0 5rem;

        .titleBox {
            .tag {
                font-size: 3rem;
            }
        }

        .introBox {
            flex-direction: column;

            .i-left {
                font-size: 2rem;
            }
        }
    }
}
