.NavContainer {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;

    .NavDiv {
        backdrop-filter: blur(1em);
        -webkit-backdrop-filter: blur(1em);
        background: rgb(255 255 255 / 75%);
        height: 3em;
        width: 90%;
        margin: 1em 0;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;

        .NavName {
            margin: 0.3em 1em;
            font-size: 1.4em;
            color: #000000;
        }

        .Lists {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;

            .listItems {
                margin: 0 0.15em;
                padding: 0.15em;
                width: 3em;
                text-decoration: none;
                position: relative;

                img {
                    height: 45px;
                    transition: 0.2s ease-in-out;
                    border-radius: 4px;

                    a {
                        color: inherit;
                    }

                    &:hover {
                        border: 2px solid #2a2e45;
                        background-color: white;
                    }
                }
            }
        }
    }
}
