.PContainer {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.4rem;

    .PTitle {
        text-align: center;
        font-weight: 700;
        margin: 0.5em 0;
    }

    .PBox {
        .ProjectBox {
            margin: 2em 0;

            .boxTitle {
                display: flex;
                justify-content: space-between;

                a {
                    color: #fa8072;
                    position: relative;
                    padding-bottom: 2px;
                    text-decoration: none;

                    &:after {
                        content: "";
                        height: 2px;
                        background: #b5b5b5;
                        width: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    &:hover {
                        &:after {
                            width: 100%;
                            animation: bordergrow 0.7s 1;
                        }
                    }
                }
            }

            .boxDescription {
                margin: 0.5em 0;

                .description {
                    padding: 0.3em 0.5em;
                    margin: 0.5em 0;
                }
            }
        }
    }
}

@keyframes bordergrow {
    0% {
        left: 50%;
        width: 10%;
    }

    100% {
        left: 0;
        width: 100%;
    }
}
