.PContainer {
	margin: 5em 7.5em;
	.PTitle {
		text-align: center;
		font-size: 3.2em;
		font-weight: 700;
		margin: 0.5em 0;
	}
	.PBox {
		font-size: 1.3em;
		display: flex;
		.ProjectBox {
			margin: 0.5em 0.2em;
			padding: 0 0.2em;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			border: 1px solid;
			border-radius: 20px;
			background-color: #fefefa;
			.boxTitle {
				margin: 0.4em 0.2em;
				a {
					color: #92140c;
					position: relative;
					padding-bottom: 2px;
					text-decoration: none;
					&:after {
						content: "";
						height: 2px;
						background: #92140c;
						width: 0;
						position: absolute;
						bottom: 0;
						left: 0;
					}
					&:hover {
						&:after {
							width: 100%;
							animation: bordergrow 0.7s 1;
						}
					}
				}
			}
			.boxDescription {
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				padding: 0.5em;
				margin: 0.4em 0;
				border-radius: 15px;
				height: 11em;
				background-image: linear-gradient(to bottom, #fa8072, #999ac6);
				color: #fefefa;
				.p1 {
					padding-bottom: 0.3em;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.PContainer {
		margin: 5em 0;
		.PBox {
			font-size: 1em;
			display: flex;
			flex-direction: column;
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 800px) {
	.PContainer {
		margin: 5em 0;
		.PBox {
			display: flex;
			flex-direction: column;
		}
	}
}
@media screen and (min-width: 801px) and (max-width: 1380px) {
	.PContainer {
		margin: 5em 0;
		.PBox {
			display: flex;
			flex-direction: column;
		}
	}
}
@keyframes bordergrow {
	0% {
		left: 50%;
		width: 10%;
	}

	100% {
		left: 0;
		width: 100%;
	}
}
