body {
	font-family: "PT Sans", sans-serif;
	margin: 0;
}
body::-webkit-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

html {
	scroll-behavior: smooth;
	background: radial-gradient(
		ellipse farthest-corner at 95% 95%,
		#999ac6,
		#fa8072 30%,
		#f3eed9
	);
}
